<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Person">
    <head>
        <meta charset="utf-8">
        <title> QuieroSerPresi - Infórmate para votar</title>

        <!-- Styles and Bootstrap -->
        <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/personal.css"/>
        <script type="text/javascript" src="static/bootstrap/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>

    <body>
        <div class="container" id="header">
            <h1>QuieroSerPresi</h1>
        </div>
        
        <div class="container">
        <div class="row">
        <div class="col-md">
        
        <h2> ¡Bienvenido! </h2>

        <p> En redes sociales y medios de información se discute mucho de las 
            polémicas y las aptitudes de los candidatos. Está bien, esto
            cumple una función.</p>     
            
        <p> Pero podemos también tener una elección mejor informada. Muchos
            electores indecisos quieren con encontrar información de las
            propuestas de fuentes primarias y poder compararlas fácilmente.</p>

        <p> La idea de QuieroSerPresi es juntar esta información y presentarla
            al público de una manera clara. </p> 

        <p> Para asegurarnos de que la información recibida es la propuesta por
            los candidatos y sus equipos de campaña, usamos el API de Twitter
        </p>

        <p>Colaboradores:</p> 
        
        <ul>
            <li> Leonardo Ignacio Martínez Sandoval </li>
            <li> Salvador Orozco Villalever </li>
        </ul>   

        </div>
        </div>
        </div>
        

        <div class="container" id="footer">
                QuieroSerPresi es un proyecto de software libre para tener
                elecciones presidenciales mejor informadas. Contribuye en
                <a href="https://github.com/leomtz/quieroserpresi"> GitHub </a>
        </div>
    </body>


</html>
